/* General Styles */
body {
    font-family: 'Playfair Display', serif;
    background-color: #fce4ec;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    text-align: center;
    background-color: #fff;
    padding: 50px 20px;
}
.centrar-imagen {
    display: block;
    margin: 0 auto;
}
header h1 {
    font-size: 4em;
    color: #ffccdd;
    font-weight: 600;
    letter-spacing: 0.1em;
}

header p {
    font-size: 1.5em;
    color: #e91e63;
    font-style: italic;
}

/* Logo */
header img {
    width: 250px;
    height: auto;
    margin-top: 20px;
}

/* Sección de catálogo */
#catalogo {
    padding: 60px 20px;
    background-color: #ffeef7;
    text-align: center;
}

#catalogo h2 {
    font-size: 2.50em;
    color: #e91e63;
    margin-bottom: 40px;
}

.producto {
    margin: 20px auto;
    display: inline-block;
    width: 280px;
    text-align: center;
}

.producto p {
    margin: 10px 0;
    font-size: 1.1em;
    color: #555;
}

/* Botones del catálogo */
.producto-boton {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 1.3em;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.3s;
    box-shadow: 0 5px 15px rgba(233, 30, 99, 0.4);
}

.producto-boton:hover {
    background-color: #d81b60;
    transform: scale(1.05);
}

/* Sección de contacto */
#contacto {
    padding: 50px 20px;
    background-color: #f8bbd0;
}

#contacto h2 {
    font-size: 2.3em;
    color: #c2185b;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 10px 0;
    font-size: 1.2em;
}

form input, form textarea {
    padding: 12px;
    margin: 8px 0;
    width: 85%;
    max-width: 400px;
    border: 1px solid #e91e63;
    border-radius: 8px;
    background-color: #fff0f5;
    font-size: 1em;
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: #d81b60;
    background-color: #fce4ec;
}

form button {
    padding: 12px 25px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 5px 15px rgba(233, 30, 99, 0.3);
}

form button:hover {
    background-color: #c2185b;
    transform: scale(1.05);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #ffccdd;
    color: white;
    font-size: 1em;
}
